.flex {
	display: flex;
}

.flex--center {
	justify-content: center;
	align-items: center;
}

.bold {
	font-weight: 700;
}

.text-color-white {
	color: var(--white-400);
}
.text-color-dark-blue {
	color: var(--dark-blue-400);
}
.text-color-orange {
	color: var(--orange-400);
}

.background-color-dark-blue {
	background-color: var(--dark-blue-200);
}
.background-color-darker-blue {
	background-color: var(--dark-blue-400);
}
.background-color-light-orange {
	background-color: var(--orange-200);
}

input.error,
input.error:active,
input.error:focus {
	color: var(--orange-400);
	background-color: var(--orange-200);
	border-color: var(--orange-400);
}
